:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
}

/*Typography*/

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1.5rem;
  font-weight: 700;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1020px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/*Links*/
a {
  text-decoration: none;
}

.link--arrow {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-accent);
}

.link--arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link--arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1020px) {
  .link--arrow {
    font-size: 1.5rem;
  }
}

/*Badge*/
.badge {
  font-size: 2rem;
  border-radius: 20px;
  padding: 0.5rem 1rem;

  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1020px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/*Lists*/

.list {
  list-style-type: none;
  color: var(--color-headings);

  padding-left: 0;
}

.list--inline .list__items {
  display: inline-block;
  margin-right: 4rem;
  word-spacing: 0.2rem;
  font-size: 2rem;
}

.list--tick {
  padding-left: 3rem;
  list-style: url(../images/tick.svg);
}

.list--tick .list__items {
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  font-size: 2.4rem;
}

@media screen and (min-width: 1020px) {
  .list--inline .list__items {
    font-size: 1.5rem;
  }
  .list--tick .list__items {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
}

/*Icons*/
.icon {
  width: 35px;
  height: 35px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}
/*Buttons*/

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  margin: 1rem 0;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #fc6139;
}

.btn--outline {
  background: #fff;
  border: 1px solid var(--color-headings);
  color: var(--color-headings);
}

.btn--outline:hover {
  background: #f0eaea;
}

.btn--primary {
  background: var(--color-headings);
  color: #fff;
}

.btn--primary:hover {
  background: #453189;
}

.btn--callout {
  background: var(--color-secondary);
  color: #fff;
}

.btn--callout:hover {
  background: #78e5f8;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1020px) {
  .btn {
    font-size: 1.4rem;
  }
}
